header {
    background-image: linear-gradient(tomato, greenyellow);
    padding: 30px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;

}

nav{
    width: 60%;
    height: 250px;
    padding: 20px;
    background-color: azure;

}

nav ul {
    list-style-type: none;
}

article {
    width: 100%;
    padding: 25px;
    background-color: skyblue;
    height: 250px;
}

footer{
    width: 100%;
    padding: 35px;
    background-color: grey;
    height: 10px;
}